### Purpose
Purpose of these series of posts, get better at python. Explain this in detail. (Most likely going to be previously done R posts)

In [9]:
import pandas as pd
import os

['.ipynb_checkpoints',
 'data_codebook.pdf',
 'jo_gartzke_0207_nuccap_0906.xls',
 'jo_gartzke_0207_replicate_0906.dta',
 'jo_gartzke_jcr_0906.pdf',
 'Logistic Regression - Nuclear Weapons States.htm',
 'nuccap_data.csv',
 'NWS - Logistic Regression Example.ipynb']

### Paper Details
What paper is this? Why did i choose this? Somewhat similar to my thesis actually.

Jo, Dong-Joon, and Erik Gartzke. 2007. Determinants of Nuclear Weapons Proliferation: A Quantitative Model. The Journal of Conflict Resolution 51(1):167-194.

Panda's can read STATA files into dataframes!

In [10]:
nw_df = pd.read_stata("jo_gartzke_0207_replicate_0906.dta")
nw_df.head()

,ccode1,year,nuk_a_p,nuk_apl,nuke_df,nuke_dfl,nuk7set1,new_econ,l_year_t,ln_ri_t,r_nukep,r_nukeb,nuke_a_d,d_isol,ln_xst1,democ,npt_rati,npt_eff,majpow,regpowt
0,230,1939,0,0,0,0,4,0.004975,0.693147,0.0,0,0,0,0.125000,0.0,0.0,0,0.0,0,0
1,790,1939,0,0,0,0,0,NaN,0.693147,0.0,0,0,0,0.000000,0.0,1.0,0,0.0,0,0
2,94,1939,0,0,0,0,0,0.000028,0.693147,0.0,0,0,0,0.700000,0.0,10.0,0,0.0,0,0
3,678,1939,0,0,0,0,0,NaN,0.693147,0.0,0,0,0,0.000000,NaN,0.0,0,0.0,0,0
4,145,1939,0,0,0,0,0,0.000043,0.693147,0.0,0,0,0,0.333333,0.0,1.0,0,0.0,0,0

## Bias

In [42]:
bias_df = pd.crosstab(nw_df["nuk_apl"],nw_df["nuk_a_p"])
bias_df

nuk_a_p     0    1
nuk_apl
0        5826   13
1          24  464

In [43]:
bias_df.columns.name = 'NW.Program'
bias_df.index.name = 'NW.Program.Prev.Year'
bias_df

NW.Program               0    1
NW.Program.Prev.Year
0                     5826   13
1                       24  464

From this we see that about 0.22% countries have nuclear weapons the following year after having had none the previous year.

### Basic Logistic Regression

Note about the SKlearn package and why its so handy.

In [47]:
from sklearn.linear_model import LogisticRegression
logf = LogisticRegression(C=1e5)
## note if using columns from pandas use double brackets
## apparently sklearn doesn't really give summary on regression based methods like R (bleh)
logf.fit(nw_df[["nuk_apl"]],nw_df[["nuk_a_p"]])

In [58]:
import statsmodels.api as sm

/anaconda/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [61]:
X = sm.add_constant(nw_df[["nuk_apl"]])
y = nw_df[["nuk_a_p"]]
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.029726
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                nuk_a_p   No. Observations:                 6327
Model:                          Logit   Df Residuals:                     6325
Method:                           MLE   Df Model:                            1
Date:                Wed, 17 Jan 2018   Pseudo R-squ.:                  0.8888
Time:                        00:01:59   Log-Likelihood:                -188.08
converged:                       True   LL-Null:                       -1691.6
                                        LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -6.1051      0.278    -21.988      0.000      -6.649      -5.561
nuk_apl        9.0670      0.348     26.075      0.000       8.385       9.749
==============================================================================

In [63]:
from scipy.special import expit
expit(-6.1051)

0.0022264898939276718